/* src/index.css */
:root {
  font-family:
    "Outfit",
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw; /* Ancho total de la ventana */
  min-height: 100vh; /* Alto total */
  overflow-x: hidden; /* Evita scroll horizontal innecesario */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  /* ELIMINAMOS EL MAX-WIDTH Y EL TEXT-ALIGN QUE TRAÍA VITE */
  max-width: none;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: -0.02em;
}
